.paginationContainer {
   display: flex;
   justify-content: center;
   :global {
      .ant-pagination-item,
      .ant-pagination-item-container,
      .ant-pagination-next,
      .ant-pagination-prev {
         display: flex;
         align-items: center;
         justify-content: center;
         border-radius: 50px;
         width: 26px;
         height: 32px;
         margin-right: 25px;
         border: none;
         &:hover {
            background-color: $primary-color-hover;
            a {
               color: white;
            }
         }
      }
      .ant-pagination-next, .ant-pagination-prev {
         .ant-pagination-item-link {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50px;
            width: 40px;
            height: 30px;
            border: 0;
            &:hover {
               background-color: $primary-color-hover;
               svg {
                  fill: white;
               }
            }
         }
      }
      .ant-pagination-jump-prev, .ant-pagination-jump-next {
         .ant-pagination-item-container {
            width: 32px;
            &:hover {
               background-color: $primary-color-hover;
               span {
                  color: white;
               }
               svg {
                  fill: white;
                  color: white;
               }
            }
         }
      }
      .ant-pagination-item-active {
         background-color: $primary-color;
         a {
            color: white;
         }
      }
      .ant-pagination-options,
      .ant-pagination-item-ellipsis {
         display: none;
      }
   }
}
@media (max-width: $css-breakpoint--s) {
   .paginationContainer {
      :global {
         .ant-pagination-prev,
         .ant-pagination-item-link,
         .ant-pagination-item,
         .ant-pagination-item-container {
            margin-right: 5px;
         }
         .ant-pagination-item {
            min-width: 29px;
         }
      }
   }
}
