.MyActivitiesBarContainer {
   :global {
      .activities-block {
         display: flex;
         flex-direction: row;
         align-items: center;
         margin-top: 20px;
         margin-bottom: 40px;
         padding: 20px;
         border-radius: 15px;
         background-color: #e4e4e4;
         .left {
            display: flex;
            flex-direction: column;
            .title {
               display: flex;
               flex-direction: row;
               align-items: center;
               h2 {
                  margin-right: 20px;
                  margin-bottom: 0;
               }
            }
         }
         .right {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            border-radius: 100px;
            padding: 15px 15px;
            margin-left: 50px;
            // background-color: #bebebe;
            .select-box {
               margin-right: 30px;
               .select-input-container {
                  background-color: white;
                  width: 400px;
               }
            }
            .add-button {
               display: flex;
               align-items: center;
               white-space: nowrap;
               span {
                  margin-left: 10px;
               }
            }
         }
      }
   }
}
@media (max-width: $css-breakpoint--xl) {
   .activities-block {
      flex-direction: column;
      .left {
         margin-bottom: 10px;
      }
      .right {
         margin-left: 0;
      }
   }
}

@media (max-width: $css-breakpoint--lg) {
   .activities-block {
      .right {
         justify-content: center;
         background-color: unset;
         width: 100%;
         flex-direction: column;
         padding: 15px 0;
         .select-box {
            width: 100%;
            margin-right: 0;
            margin-bottom: 20px;
            .input-container {
               width: 100%;
            }
         }
         .button-container {
            width: 100%;
            button {
               padding: 0;
               width: 100%;
            }
         }
      }
   }
}
