.RadioBoxesContainer {
   :global {
      .options {
         display: flex;
         &:not(.inline) {
            flex-direction: column;
            row-gap: 14px;
         }
         &.inline {
            align-items: center;
            column-gap: 30px;
         }
         .option-container {
            display: flex;
            align-items: center;
            cursor: pointer;
            .option {
               margin-right: 10px;
               accent-color: black;
               cursor: pointer;
            }
            &.active {
               label {
                  color: black;
                  font-weight: 500;
               }
            }
         }
      }
   }
}