.UploadContainer {
   :global {
      .textarea-container {
         cursor: pointer;
         textarea {
            cursor: pointer;
         }
      }
      .file-input {
         display: none;
      }
      .files {
         margin-top: 20px;
         display: flex;
         flex-direction: column;
         .file {
            cursor: pointer;
            background-color: #F1F1F1;
            padding: 20px;
            border-radius: 20px;
         }
      }
   }
}
