.NewContactPopupContainer {
   :global {
      .bottom-popup-container {
         h3 {
            margin-bottom: 30px;
         }
         .radio-boxes-container {
            margin-bottom: 30px;
         }
         label {
            background-color: white;
         }
         .button-container {
            margin-top: 40px;
            display: flex;
            justify-content: center;
         }
      }
   }
}