.mySpace {
   :global {
      .header {
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: space-between;
         margin-bottom: 10px;
         h2 {
            margin-bottom: 5px;
            .light {
               font-size: 1.4rem;
               font-weight: 300;
            }
         }
         .title-container {
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 15px;
         }
         .text-input-container {
            background-color: white;
         }
         .right {
            display: flex;
            align-items: center;
            column-gap: 20px;
         }
      }
      .skills {
         padding: 20px 50px;
         display: flex;
         flex-wrap: wrap;
         gap: 25px;
      }
      .cards-slider-container {
         margin-bottom: 30px;
         .new-item-card-container {
            .new-item-card {
               width: 250px;
               .icon-container {
                  border: 3px solid #b7b7b7;
                  .icon {
                     font-size: 2rem;
                  }
               }
            }
         }
      }
      .add-skills-popup {
         max-width: 600px;
         max-height: 800px;
         padding: 40px 70px;
         h2 {
            font-weight: 400;
            margin-bottom: 30px;
         }
         h3 {
            margin-bottom: 40px;
         }
         .label {
            font-weight: 600;
            margin-bottom: 10px;
         }
         .textarea-container, .radio-boxes-container {
            margin-bottom: 30px;
         }
         .button {
            margin: auto;
         }
         .radio-boxes-container {
            .label-container {
               display: flex;
               align-items: center;
               .stars-container {
                  margin-left: 6px;
                  display: flex;
                  align-items: center;
                  .icon {
                     color: $primary-color;
                     &.disabled {
                        color: #e4e4e4;
                     }
                  }
               }
            }
         }
      }
   }
}
@media (max-width: $css-breakpoint--m) {
   .mySpace {
      :global {
         .cards-slider-container {
            .new-item-card-container {
               .new-item-card {
                  width: 100%;
               }
            }
         }
      }
   }
}
@media (max-width: $css-breakpoint--s) {
   .mySpace {
      :global {
         .add-skills-popup {
            padding: 40px 30px;
            height: auto;
         }
      }
   }
}